body{
    width: 500px;
    margin: auto;
    background-color: gray;
  }

  .back{
    background-color: aliceblue;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: column;
  }

  #calcular, #limpar{
    margin: 10px;
    width:  200px; 
    align-self: center;
  }
  
  input{
    width: 250px;
    margin: 10px;
  }