body {
    background-color:#E7E9EB;
  }
  #myDIV {
    height:300px;
    background-color:#FFFFFF;
   
  }
  #div1 {
    position: relative;
    margin: auto;
    height: 150px;
    width: 250px;
    padding: 0px;
    border: 1px solid black;
    perspective: 550px;
    
    
  }
  
  
  #div2 {
    padding: 20px;
    position: absolute;
    border: 1px solid black;
    background-color: red;
    transform: rotateX(60deg);
    transition: transform 2s;
    
    
    
  
  }
  
  #myDIV, #div2:hover{
      transform: none;
      perspective: none;
  }
  