body  {
    width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    
    
}



.login, .create{
    display: grid;
    justify-content: center;
    margin: 5%
}


.logged-user {
    margin-top: 15px;
    margin: 5px;
    display: flex;
    
}

.area-de-login  {
    display: none;
    padding-top: 50px;
    margin: 5px;
    width: 300px;
}

#login-email, #new-login-email{
    display: flex;
    margin: 5px;

}

#password, #new-password {
    display: flex;
    margin: 5px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: baseline;
}

#logout {
    display: none;
}


.register-area {
    padding-top: 50px;
    margin: 5px;
    width: 300px;
}