.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin:auto;
    background-color: rgb(98, 164, 221);
    padding: 20px;
    border-radius: 4px;
}

h1{
    margin-top: 0;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 8px;
}