h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.stage {
    text-align: center;
}

.square {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.square:hover{
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(85, 5, 5, 0.3);

}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F383";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\2620";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn {
    text-align: center;
    padding: 10px;
}

button {
    background-color: orange;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

button:hover {
    background-color: black;
    color: orange;
    box-shadow: none;
}

button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.dicas {
    text-align: center;
    display: block;
    background-color: antiquewhite;
    position: relative;
    width: 200px;
    text-transform: uppercase;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    bottom: 280px;
    left: 3%;
}

.dicas:hover {
    box-shadow: 3px 3px 5px rgba(230, 3, 3, 0.3);
}